.hero-body {
  background-image: url("./images/istockpaid.jpg");
  background-position: center center;
  background-repeat: repeat-x;
  }
  
  img {
    padding: 10px;
  }

.box {
  margin-left: 15px;
  margin-right: auto;
}

.box {
margin: 100px 100px 100px 100px;
}

.block {
  margin-top: 10px;
}

.mb-4 {
  margin-left: 75px;
  margin-right: 75px;
}

.is-horizontal-center {
  justify-content: center;
}
