* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.hero-body {
  background-image: url("../images/header/istockpaid.jpg");
  background-position: center center;
  background-repeat: repeat-x;
}

img {
  padding: 10px;
}

#image-icon {
  height: 200px;
  width: 200px;
}


.box {
  margin-left: 15px;
  margin-right: auto;
}

.box {
  margin-left: 180px;
  margin-right: 180px;
}

.block {
  margin-top: 10px;
}

.mb-4 {
  margin-left: 75px;
  margin-right: 75px;
}

.is-horizontal-center {
  justify-content: center;
}

/* Title for header */

h1.title.has-text-centered.has-text-white {
  font-size: xxx-large;
  font-weight: bold;
}

h2.subtitle.has-text-centered.has-text-white {
  font-size: xx-large;
}

/* Featured Section */
h1.title.has-text-centered {
  font-size: xxx-large;
  font-weight: bold;
}

section#featuredProjects {
  padding: 2%;
}

/* About me section */
div#about-me-section {
  background: black;
  padding: 5%;
}

h2, 
h3.about-description
{
  font-size: x-large;
}

/* Contact Box*/

#myInfo {
  text-align: center;
}

#contact-heading {
  font-size: xxx-large;
  font-weight: bold;
  padding-top: 15px;
}